/* General Styles */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display';
}

body, p {
    color: #1d1d1f;
    margin: 0;
    font-family: 'SF Pro Display';
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    
}
.menz-theme-color {
    color: #075590;
}
/* Login Page CSS */
.menz-logo {
    text-align: left;
    position: fixed;
    width: 100px;
    padding: 12px 0px 0px 16px;
}
.menz-bnr {
    min-height: 100vh;
    height: min-content;
    min-width: 310px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
.menz-formBox {
    max-width: 328px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -65px;
} 
.formHeading {
    color: #494949;
    font-size: 21px;
    margin: 5px auto 13px;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: 'SF Pro Display';
    line-height: normal;
} 
.menz-input {
    padding-right: 43px;
    border: 1px solid #d6d6d6;
    color: #494949;
    height: 42px;
    box-shadow: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 1.29412;
    font-weight: 300;
    padding-left: 15px;
    vertical-align: top;
    text-align: left;
    background: #fff;
}
.menz-input:focus {
    border: 1px solid #0070c9;
    box-shadow: 0 0 0 1px #0070c9;
}
.menz-input::placeholder {
    color: #8e909c;
}
.arrowBtn{
    font-size: 15px;
    color: #8e909c;
    border-radius: 50px;
    border: 1px solid #8e909c;
    width: 26px !important;
    max-width: 26px !important;
    height: 26px;
    background-color: transparent;
    text-align: center;
    line-height:24px;
    position: absolute;
    right: 11px;
    top: 8px;
    cursor: text;
}
.login-form {
    min-height: 88px;
}
#remember_me {
    margin-right: 5px;
    cursor: pointer;
}
.remember{
    margin: 18px auto 15px !important;
    padding-top: 1px;
    cursor: pointer;
    font-size: 17px;
    line-height: 1.29412;
    font-weight: 400;
    font-family: 'SF Pro Display';
    display: block;
    position: relative;
    color: #494949;
    margin-bottom: 8px;
    border-bottom: 1px solid #d6d6d6;
    text-align: center;
    width: 70%;
    padding-bottom: 20px;
}
.no-access {
    color: rgb(73, 73, 73);
    font-size: 14px;
    line-height: 1.42861;
    font-weight: 400;
    font-family: 'SF Pro Display';
}
.no-access a {
    color: #0070c9;
    text-decoration: none;
}
.no-access a:hover {
    text-decoration: underline;
}
.menz-login-footer {
    z-index: 1;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.menz-footer {
    font-size: 11px;
    line-height: 1.36364;
    font-weight: 400;
    font-family: 'SF Pro Display';
    background-color: #f2f2f2;
    color: #888;
    overflow: hidden;        
    padding: 20px 0 24px;
}
.idInput{
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.psInput{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.display-none { 
    display: none;
}
.inputBox{
    position: relative;
}
.opacityN{
    opacity: 1 !important;
}
.lds-spinner {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -18px;
    right: 33px;
    opacity: 0;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 28px;
    left: 37px;
    width: 2px;
    height: 6px;
    border-radius: 20%;
    background: #000;
}
.focusedInput{
    border: 1px solid #0070c9 !important;
    box-shadow: 0 0 0 1px #0070c9 !important;
}   
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}


.menz-header {
    max-height: 44px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.559em 1em;
}
.menz-logo-container a img {
    max-width: 50px;
    opacity: 0.8;
    transition: 0.5s ease opacity;
}
.menz-logo-container a img:hover, .menz-nav-item:hover, .menz-nav-item.active {
    opacity: 1;
}
.menz-header-wrap {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menz-header-wrap a {
    margin-right: 70px;
}
.menz-nav-item {
    font-size: 15px;
    font-weight: 400 !important;
    font-family: 'SF Pro Display';
    color: #fff  !important;
    opacity: 0.8;
    transition: 0.5s ease opacity;
    text-decoration: none;
}
.menz-rechnung, .menz-lieferschein {
    padding: 70px 0;
}
.menz-rechnung .container, .menz-lieferschein .container {
    max-width: 980px;
}
.menz-profil .container {
    max-width: 1010px;
}
.menz-col {
    padding: 1.5em 1.5em;
}
/* .menz-profil .menz-col {
    padding: 0 15px;
} */
h1.section-title {
    font-family: 'SF Pro Display';
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    color: #1d1d1f;
}
.menz-profil .section-title {
    color: #666;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 400;
}
p.section-text {
    font-family: 'SF Pro Display';
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    margin-bottom: .8em;
}
a.menz-more, a.menz-view {
    color: #06c;
    text-decoration: none;
}
a.menz-more::after {
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin: 0.5em;
    position: absolute;
    bottom: -9px;
}
a.menz-more:hover, .menz-view:hover {
    text-decoration: underline;
}
a.menz-view::after {
    content: "\f35d";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin: 0.5em;
    font-size: 15px;;    
}
.menz-pdf i {
    font-size: 40px;
    float: left;
    width: 48px;
    color: #5f5f5f;
}
.menz-card-body p {
    color: #888888;
    font-size: 11px;
}
.menz-pdf-box {
    margin-bottom: 1em;
}
.menz-lieferschein {
    background-color: #fafafa;
}
.profil-title {
    color: #666;
    margin: 0;
    padding-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.42861;
}
.profile-text {
    color: #333;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.42861;
}
.menz-info {
    margin-bottom: 29px;
}
.menz-info:last-child {
    margin-bottom: 0px;
}
.menz-edit {
    padding: 4px 17px;
    background-color: #e3e3e3;
    background: linear-gradient(#fff,#e3e3e3);
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    color: #0070c9;
    font-size: 12px;
    line-height: 1.33341;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
}
.menz-edit:hover {
    background-color: #eee;
    background: linear-gradient(#fff,#eee);
    border-color: #d9d9d9;
}

@media (max-width:767px) {
    .menz-header-wrap {
        justify-content: space-between !important;
    }
    .menz-header-wrap a {
        margin-right: 0px;
    }
}